
<h1 mat-dialog-title>New Training</h1>
<form [formGroup]="form" >
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="Name" type="text" [formControl]="form.controls['name']" required>
    </mat-form-field>
    
    <!--<mat-form-field>
      <mat-select placeholder="Target">
        <mat-option *ngFor="let target of targets" [value]="target" [formControl]="form.controls['target']">
          {{target}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
    <mat-form-field class="w-100">
      <input min="1" matInput placeholder="Time (minutes)" type="number" [formControl]="form.controls['time']" required>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input min="1" max="5" matInput placeholder="Level 1-5" type="number" [formControl]="form.controls['level']" required>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="256" placeholder="Description" [formControl]="form.controls['description']" required>
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select placeholder="Exercises"  multiple [formControl]="form.controls['exercises']">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{exercise.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-select placeholder="Target"   [formControl]="form.controls['target']">
        <mat-option *ngFor="let target of targets" [value]="target">{{target}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <input type="file" accept="*" #file (change)="onFilesAdded()"
        [disabled]="uploading || uploadSuccessful" value="Select file" [formControl]="form.controls['picture']"/>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let file of files">

        <h4 mat-line>{{file.name}}</h4>

        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async">
        </mat-progress-bar>

      </mat-list-item>
    </mat-list>
    <mat-dialog-actions class="actions">
      <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!canBeClosed || !form.valid"
        (click)="closeDialog()">{{primaryButtonText}}</button>
    </mat-dialog-actions>
    
   


    
  </div>
 
</form>